.animate_button {
    cursor: pointer;
    transition:
            background-color 0.2s,
            transform 0.2s,
            box-shadow 0.2s;/* 添加阴影效果过渡 */
}
.animate_button:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
}
.animate_button:active {
    transform: translateY(1px) scale(0.97); /* 稍微下移并缩小一点 */
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px; /* 阴影更贴近 */
}
.animate_button.router-link-active {
    box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px;
}


.fadeIn-slide {
    animation: fadeInSlide 0.35s ease;
}
@keyframes fadeInSlide {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}




