/* =========按钮下压========== */
.animate_press {
    cursor: pointer;
    transition:
            background-color 0.2s,
            transform 0.2s,
            box-shadow 0.2s;/* 添加阴影效果过渡 */
}
.animate_press:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
}
.animate_press:active {
    transform: translateY(1px) scale(0.995); /* 稍微下移并缩小一点 */
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px; /* 阴影更贴近 */
}
.animate_press.router-link-active {
    box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px;
}


/* =========翻转========== */

.animate_flip {
    transition: transform 0.3s ease;
    transform-style: preserve-3d; /* 保持3D效果 */
}

.animate_flip:hover {
    transform: rotateY(180deg);
}


/* =========隐入动画========== */
.fadeIn-slide {
    animation: fadeInSlide 0.35s ease;
}
@keyframes fadeInSlide {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}









