#app{
    display: flex;
    flex-direction: column;
}

.window-main{
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* ========== title-bar ========== */
.window-title {
    height: 32px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 12px;
    box-sizing: border-box;
    z-index: 9999;
    -webkit-app-region: drag;

}

/* ========== middle-bar ========== */
.window-detail{
    min-width: 200px;
    border-right: 1px solid #d9e2ec; /* 浅灰蓝边框 */
    background-color: #f9fbfd; /* 非常浅的蓝白色背景 */
}

/* ========== content ========== */
.window-content{
    padding: 10px;
    min-width: 200px;
    flex: 1;
}
