
#app{
    display: flex;
    flex-direction: column;
}



/* ======蒙版和弹窗外层======= */
.dialog-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.dialog-border {
    background: white;
    border-radius: 10px;
    min-width: 300px;
    max-width: 80%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* ======detail-space和tag的容器======= */
.mainView-detail {
    display: flex;
    flex-direction: column;
    min-width: 180px;
    height: 100%;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 5px;
    user-select: none;
    overflow: hidden;
}

