.noti-with-progress .noti-wrapper {
    position: relative;
    padding-bottom: 6px;
}

.noti-with-progress .noti-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #409eff;
    width: 100%;
    animation: noti-progress-bar linear forwards;
}

@keyframes noti-progress-bar {
    from { width: 100%; }
    to { width: 0; }
}


/* -----------------el tree组件修改------------------ */
.el-tree__drop-indicator {
    display: none !important;
}
.el-tree-node__content:hover{
    background-color: transparent;
}


/* 取消移动时的背景色 */
.el-tree-node:focus > .el-tree-node__content{
    background-color: transparent;           /* 取消背景色 */
}
/* 拖入时：细灰边 + 浅蓝背景 */
.el-tree-node.is-drop-inner > .el-tree-node__content {
    background-color: #f5f9ff;
    border: 1px solid #a3cfff; /* 柔和蓝色边框 */
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s;
}
/* 当前选中节点：浅蓝背景 + 主色边框 */
.el-tree-node.is-current > .el-tree-node__content {
    background-color: #e6f0ff;
    border-radius: 4px;
    box-shadow: none;
    transition: all 0.2s ease;
}

/* -----------------el popover组件修改------------------ */
.el-popper {
    min-width: 0 !important;
    height: 36px !important;

    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
}








